/ejemploScanner/nbproject/private/
/ejemploScanner/build/
/Operadores logicos/nbproject/private/
/Operadores logicos/build/
/matriz/nbproject/private/
/matriz/build/
/POO/nbproject/private/
/POO/build/
/JavaApplication13/nbproject/private/
/Static/nbproject/private/
/Static/build/
/ejemploStatic/nbproject/private/
/ejemploStatic/build/
/CreacionArchivos/nbproject/private/
/CreacionArchivos/build/
/H/nbproject/private/
/H/build/
/Recursividad/nbproject/private/
/Recursividad/build/
/Herencia/nbproject/private/
/HIlos/nbproject/private/
/HIlos/build/
