/ejemploScanner/nbproject/private/
/ejemploScanner/build/
/Operadores logicos/nbproject/private/
/Operadores logicos/build/
/matriz/nbproject/private/
/matriz/build/
/POO/nbproject/private/
/POO/build/
/JavaApplication13/nbproject/private/
